.card-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.options-header{
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #F3F3F3;
			color: #1D2B36;
			border: 1px solid #1D2B36;
			transition: .2s all ease;
		    width: 160px;
    		height: 38px;
			&:hover{
				background-color: #1D2B36;
				color: #F3F3F3;
				border: 1px solid #F3F3F3;
			}
		}
	}
	&:after{
		display: none;
	}
}

.card-body{
	table.table{
		tbody{
			td{
				padding: 20px 30px 9px;
			}
			.buttons{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				div{
					&:not(:first-child){
						margin-left: 15px;
					}
				}
			}
		}
	}
}

.admin-menus{
	#basic-form-layouts{
		.card{
			height: auto !important;
			&.left{
				width: 60%;
			}
			&.right{
				display: none;
				width: 35%;
				.buttons-options{
					display: flex;
					flex-direction: column;
					button{
						display: none;
						width: 45%;
						&:not(:first-child){
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
	.modal{
		
	}
}

.modal-backdrop{
	background-color: rgba(0, 0, 0, 0.8);
}

.user-form{
	margin-top: 35px;
}

.custom-checkbox{
	> .container{
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 25px;
		height: 25px;
		padding: 0;
		margin: 0;
		input[type=checkbox]{
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			&:checked ~ .checkmark{
				background-color: #2196F3;
				&:after {
					display: block;
				}
			}
		}
		.checkmark{
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: #eee;
			&:after {
				content: "";
				position: absolute;
				display: none;
				left: 10px;
				top: 7px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
		&:hover{
			input ~ .checkmark{
				background-color: #ccc;
			}
		}
	}
}


#permissions_form{
	ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		list-style-type: none;
		.menu_permission{
			width: 21%;
			border: 1px solid #EEE;
			border-radius: 3px;
			margin-top: 30px;
			.title{
				text-align: center;
				display: block;
			}
			.list-permissions{
				display: flex;
				justify-content: center;
				align-items: center;
				> div{
					margin: 0 15px;
					display: flex;
					align-items: center;
					label{
						margin: 0;
						padding: 0 10px 3px 0;
					}
				}
			}
		}
	}
}


form.user-subjects{
	> .row{
		display: flex;
		justify-content: center;
	}
	.list-subjects{
		.add-subject{
			display: flex;
			justify-content: space-between;
			.wrapper{
				width: 48%;
				select{
					
				}
			}
			&:not(:first-child) {
				margin-top: 30px;
			}
			i{
				margin-top: 40px;
				cursor: pointer;
				color: red;
			}
		}
	}
	#btn-add-subject{
		margin-top: 25px;
	}
}


.list-subjects{
	max-width: 1200px;
	margin: 70px auto 0;
	.subject{
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
		.subject-header{
			padding: 1.25rem 1.25rem;
			margin-bottom: 0;
			background-color: rgba(0,0,0,.03);
			border-bottom: 1px solid rgba(0,0,0,.125);
			cursor: pointer;
			h5{
				margin: 0;
			}
			&:first-child{
				border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
			}
		}
		.collapser{
			display: none;
			.wrapper{
				-webkit-box-flex: 1;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				padding: 1.25rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				> div{
					width: 100%;
					margin-bottom: 0;
				}
			}
		}
		&:not(:first-child){
			margin-top: 40px;
		}
	}
}


.list-students{
	max-width: 1200px;
	margin: 70px auto 0;
	.student{
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
		.student-header{
			padding: 1.25rem 1.25rem;
			margin-bottom: 0;
			background-color: rgba(0,0,0,.03);
			border-bottom: 1px solid rgba(0,0,0,.125);
			cursor: pointer;
			h5{
				margin: 0;
			}
			&:first-child{
				border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
			}
		}
		.collapser{
			display: none;
			.wrapper{
				-webkit-box-flex: 1;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				padding: 1.25rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.grade_wrapper{
					max-width: 170px;
					position: relative;
					> div{
						display: flex;
						align-items: center;
						label{
							margin: 0 5px 0 0;
							width: 50px;
						}
						input{
							max-width: 90px;
							text-align: center;
						}
						&.weight_wrapper{
							margin-top: 15px;
						}
					}
					> i{
						position: absolute;
						top: 0;
						right: -26px;
						font-size: 12px;
						cursor: pointer;
						color: #bb0000;
					}
				}
				.total{
					div{
						text-align: center;
					}
				}
				.plus_wrapper{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					border: 1px solid #e8e8e8;
					width: 90px;
					height: 90px;
					-webkit-box-shadow: 1px 1px 5px 0px rgba(210, 210, 210, 0.25);
					-moz-box-shadow: 1px 1px 5px 0px rgba(210, 210, 210, 0.25);
					box-shadow: 1px 1px 5px 0px rgba(210, 210, 210, 0.25);
					transition: 0.3s all ease-in-out;
					i{
						font-size: 32px;
					}
					span{
						font-size: 11px;
					}
					&:hover{
						-webkit-box-shadow: 1px 1px 5px 0px rgba(210, 210, 210, 0.75);
						-moz-box-shadow: 1px 1px 5px 0px rgba(210, 210, 210, 0.75);
						box-shadow: 1px 1px 5px 0px rgba(210, 210, 210, 0.75);
					}
				}
			}
		}
		&:not(:first-child){
			margin-top: 40px;
		}
	}
}

.th_options{
	display: flex;
	justify-content: flex-end;
}

.formModal{
	ul{
		list-style: none;
		li{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
			label{
				margin: 0;
				width: 65px;
			}
		}
	}
}