.form-simple input[type=text] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-simple input[type=mail] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-simple input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.help-block ul {
  margin: 0 !important;
  padding: 0 !important;
}
.help-block ul li {
  list-style: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header .options-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  color: #1D2B36;
  border: 1px solid #1D2B36;
  transition: 0.2s all ease;
  width: 160px;
  height: 38px;
}
.card-header .options-header a:hover {
  background-color: #1D2B36;
  color: #F3F3F3;
  border: 1px solid #F3F3F3;
}
.card-header:after {
  display: none;
}

.card-body table.table tbody .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-body table.table tbody .buttons div:not(:first-child) {
  margin-left: 15px;
}

.admin-menus #basic-form-layouts .card {
  height: auto !important;
}
.admin-menus #basic-form-layouts .card.left {
  width: 60%;
}
.admin-menus #basic-form-layouts .card.right {
  display: none;
  width: 35%;
}
.admin-menus #basic-form-layouts .card.right .buttons-options {
  display: flex;
  flex-direction: column;
}
.admin-menus #basic-form-layouts .card.right .buttons-options button {
  display: none;
  width: 45%;
}
.admin-menus #basic-form-layouts .card.right .buttons-options button:not(:first-child) {
  margin-top: 10px;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.user-form {
  margin-top: 35px;
}

.custom-checkbox > .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}
.custom-checkbox > .container input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.custom-checkbox > .container input[type=checkbox]:checked ~ .checkmark {
  background-color: #2196F3;
}
.custom-checkbox > .container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox > .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.custom-checkbox > .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom-checkbox > .container:hover input ~ .checkmark {
  background-color: #ccc;
}

#permissions_form ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
#permissions_form ul .menu_permission {
  width: 21%;
  border: 1px solid #EEE;
  border-radius: 3px;
  margin-top: 30px;
}
#permissions_form ul .menu_permission .title {
  text-align: center;
  display: block;
}
#permissions_form ul .menu_permission .list-permissions {
  display: flex;
  justify-content: center;
  align-items: center;
}
#permissions_form ul .menu_permission .list-permissions > div {
  margin: 0 15px;
  display: flex;
  align-items: center;
}
#permissions_form ul .menu_permission .list-permissions > div label {
  margin: 0;
  padding: 0 10px 3px 0;
}

form.user-subjects > .row {
  display: flex;
  justify-content: center;
}
form.user-subjects .list-subjects .add-subject {
  display: flex;
  justify-content: space-between;
}
form.user-subjects .list-subjects .add-subject .wrapper {
  width: 48%;
}
form.user-subjects .list-subjects .add-subject:not(:first-child) {
  margin-top: 30px;
}
form.user-subjects .list-subjects .add-subject i {
  margin-top: 40px;
  cursor: pointer;
  color: red;
}
form.user-subjects #btn-add-subject {
  margin-top: 25px;
}

/*# sourceMappingURL=main.css.map */
