.form-simple input[type=text] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-simple input[type=mail] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-simple input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.help-block ul {
  margin: 0 !important;
  padding: 0 !important;
}
.help-block ul li {
  list-style: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header .options-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  color: #1D2B36;
  border: 1px solid #1D2B36;
  transition: 0.2s all ease;
  width: 160px;
  height: 38px;
}
.card-header .options-header a:hover {
  background-color: #1D2B36;
  color: #F3F3F3;
  border: 1px solid #F3F3F3;
}
.card-header:after {
  display: none;
}

.admin-menus #basic-form-layouts .card {
  height: auto !important;
}
.admin-menus #basic-form-layouts .card.left {
  width: 60%;
}
.admin-menus #basic-form-layouts .card.right {
  display: none;
  width: 35%;
}
.admin-menus #basic-form-layouts .card.right .buttons-options {
  display: flex;
  flex-direction: column;
}
.admin-menus #basic-form-layouts .card.right .buttons-options button {
  display: none;
  width: 45%;
}
.admin-menus #basic-form-layouts .card.right .buttons-options button:not(:first-child) {
  margin-top: 10px;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
